{% extends "posts/layout.html" %}
{% load urlify %}

{% block style %}
h1 {
    color: #777777;
}
{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
        <div class="row">

                <div class="col-sm-12">
    <h1> {{ instance }} </h1>

    {{ instance.title }}<br />
    {{ request.build_absolute_uri }}
    {{ instance.content|urlify|truncatechars:15 }}<br />
    {% if instance.image %}
    <img class="flex-auto" style="max-width: 400px;" src="{{ instance.image.url}}" />
    {% endif %}
    {{ instance.content|linebreaks }}<br />
    updated : <small>{{ instance.updated_at|timesince }} ago</small><br />

</div></div>

</div>

{% endblock %}