{% extends "posts/layout.html" %}

{% block content %}

<div class="col-sm-8 col-sm-offset-2">
<form action="" method="GET">
    <input type="text" name="q" placeholder="Search Post" value="{{ request.GET.q }}" />
    <input type="submit" value="search" />
</form>
    {% for post in instances %}
    <div class="row">

            <div class="col-sm-12">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                      <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                          <a class="text-dark" href="{% url 'posts:post_detail' slug=post.slug %}">{{ post.title }}</a>
                        </h3>
                        <div class="mb-1 text-muted"><small>{{ post.updated_at|timesince }} ago</small></div>
                        <p class="card-text mb-auto">{{ post.content|truncatechars:100}}</p>
                        <a href="{% url 'posts:post_detail' slug=post.slug %}">Continue reading</a>
                      </div>

                      {% if post.image %}
                      <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{ post.image.url}}" data-holder-rendered="true">
                      {% else %}

                      <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_164f854950b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_164f854950b%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                      {% endif %}
                    </div>
            </div>
        
    </div>
    {% endfor %}
    <div class="pagination">
            <span class="step-links">
                {% if instances.has_previous %}
                    <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
                    <a href="?page={{ instances.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ instances.number }} of {{ instances.paginator.num_pages }}.
                </span>
        
                {% if instances.has_next %}
                    <a href="?page={{ instances.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                    <a href="?page={{ instances.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
</div> 

{% endblock %}

